In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
"""
IDentify clusters of this region
"""

region_name = "Tampines"

os.chdir('/home/optimusprime/Desktop/peeterson/github/DeepAR_demand_prediction/2_freq_nbinom_LSTM/1_cluster_demand_prediction/data/demand_data/standalone')
stn_df = pd.read_csv("station_cc_id_60_0.5.csv")
region_df = stn_df[stn_df["name"].apply( lambda x :  x.split('/')[0] ) == region_name]
cluster_names = np.sort(region_df["cc_id"].unique())
cluster_names = cluster_names.astype(str)
cluster_names

array(['160', '161', '162', '163', '164', '165', '166', '167', '168',
       '169', '170'], dtype='<U21')

In [7]:
inf_df = pd.read_csv("inflow_station_dem.csv")
inf_df = inf_df.loc[:,cluster_names]

outf_df = pd.read_csv("outflow_station_dem.csv")
outf_df = outf_df.loc[:,cluster_names]

In [8]:
inf_df

      160  161  162  163  164  165  166  167  168  169  170
0     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2175  0.0  2.0  0.0  1.0  2.0  0.0  0.0  0.0  2.0  0.0  0.0
2176  2.0  0.0  0.0  0.0  0.0  0.0  2.0  1.0  1.0  0.0  0.0
2177  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2178  0.0  0.0  1.0  2.0  1.0  1.0  0.0  3.0  2.0  2.0  2.0
2179  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[2180 rows x 11 columns]

In [9]:
outf_df

      160  161  162  163  164  165  166  167  168  169  170
0     0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3     0.0  0.0  0.0  0.0  0.0  2.0  0.0  1.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2175  1.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  2.0  0.0  0.0
2176  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  3.0  0.0  1.0
2177  2.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0
2178  1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0
2179  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2180 rows x 11 columns]

In [10]:
os.chdir('/home/optimusprime/Desktop/peeterson/github/DeepAR_demand_prediction/2_freq_nbinom_LSTM/1_cluster_demand_prediction/data/demand_data/standalone/region_level')
inf_df.to_csv(region_name + '_region_inflow.csv')
outf_df.to_csv(region_name + '_region_outflow.csv')