In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
"""
IDentify clusters of this region
"""

region_name = "Woodlands"

os.chdir('/home/optimusprime/Desktop/peeterson/github/DeepAR_demand_prediction/2_freq_nbinom_LSTM/1_cluster_demand_prediction/data/demand_data/standalone')
stn_df = pd.read_csv("station_cc_id_60_0.5.csv")
region_df = stn_df[stn_df["name"].apply( lambda x :  x.split('/')[0] ) == region_name]
cluster_names = np.sort(region_df["cc_id"].unique())
cluster_names = cluster_names.astype(str)
cluster_names

array(['177', '178', '179', '180', '181', '182', '183', '184', '185',
       '186'], dtype='<U21')

In [3]:
inf_df = pd.read_csv("inflow_cluster_dem.csv") #
inf_df = inf_df.loc[:,cluster_names]

outf_df = pd.read_csv("outflow_cluster_dem.csv")
outf_df = outf_df.loc[:,cluster_names]

In [4]:
inf_df

      177  178  179  180  181  182  183  184  185  186
0     0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2175  0.0  0.0  0.0  2.0  0.0  0.0  2.0  0.0  0.0  0.0
2176  0.0  0.0  1.0  1.0  0.0  1.0  1.0  2.0  1.0  1.0
2177  1.0  1.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
2178  1.0  2.0  0.0  0.0  0.0  0.0  1.0  4.0  1.0  1.0
2179  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2180 rows x 10 columns]

In [5]:
outf_df

      177  178  179  180  181  182  183  184  185  186
0     0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2175  0.0  0.0  1.0  3.0  2.0  0.0  3.0  3.0  0.0  0.0
2176  0.0  0.0  0.0  1.0  0.0  1.0  1.0  1.0  0.0  0.0
2177  2.0  0.0  1.0  1.0  1.0  1.0  0.0  2.0  1.0  1.0
2178  2.0  0.0  0.0  0.0  0.0  0.0  2.0  0.0  0.0  0.0
2179  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2180 rows x 10 columns]

In [6]:
os.chdir('/home/optimusprime/Desktop/peeterson/github/DeepAR_demand_prediction/2_freq_nbinom_LSTM/1_cluster_demand_prediction/data/demand_data/standalone/region_level')
inf_df.to_csv(region_name + '_region_inflow.csv')
outf_df.to_csv(region_name + '_region_outflow.csv')